<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href='https://www.unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
</head>
<body>
<div>
    <nav class="sidebar" th:fragment="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img th:src="@{/images/logo.png}" alt="logo_image">
                </span>

                <div class="text header-text">
                    <span class="name">Arethium</span>
                    <span class="tag">Road To Role</span>
                </div>
            </div>

            <i class="bx bx-caret-big-right bx-tada toggle"></i>

        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class="bxf bx-search-alt icon"></i>
                    <input type="search" placeholder="Search">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/dashboard/home}">
                            <i class="bxf bx-home icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="#">
                            <i class="bxf bx-route" icon></i>
                            <span class="text nav-text">Roadmap</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="#">
                            <i class="bxf bx-treasure-chest icon"></i>
                            <span class="text nav-text">Assessments</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="#">
                            <i class="bxf bx-monitor-wide icon"></i>
                            <span class="text nav-text">Interviews</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom-content">
            <li class="">
                <a th:action="@{authorization/logout}">
                    <i class="bxf bx-log-out icon"></i>
                    <span class="text nav-text">Log Out</span>
                </a>
            </li>
            <li class="mode">
                <div class="moon-sun">
                    <i class="bxf bx-moon icon moon"></i>
                    <i class="bxf bx-sun icon sun"></i>
                </div>
                <span class="mode-text text">Dark</span>
                <div class="toggle-switch">
                      <span class="switch"></span>
                </div>
            </li>
        </div>
    </nav>
    <section class="home">
        <div class="text">Dashboard</div>
    </section>
</div>

<script>
    const body = document.querySelector("body"),
        sidebar = body.querySelector(".sidebar"),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });

    modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Light Mode";
        }
        else {
            modeText.innerText = "Dark Mode";
        }
    });



</script>
</body>
</html>