<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <link rel="stylesheet" type="text/css" href='https://www.unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
</head>
<body>
<div>
    <nav class="sidebar" th:fragment="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img th:src="@{/images/logo.png}" alt="logo_image">
                </span>

                <div class="text header-text">
                    <span class="name">Arethium</span>
                    <span class="tag">Road To Role</span>
                </div>
            </div>

            <i class="bx bxs-arrow-to-right toggle"></i>

        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/dashboard/home}">
                            <i class="bx bx-home icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="@{/dashboard/roadmap}">
                            <i class="bx bx-street-view icon"></i>
                            <span class="text nav-text">Roadmap</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-desktop icon"></i>
                            <span class="text nav-text">Interviews</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a th:href="@{/authorization/logout}">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Log Out</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
</div>

<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>