
.home {
    margin-left: 10px;
    padding: 2rem;
    transition: all 0.3s ease;
}

.hero-card {
    background: linear-gradient(135deg, #285e6e, #367298);
    color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Use the variable defined in your HTML */
    background: conic-gradient(#4ce0d2 var(--p), #e0e0e0 0deg);
}

.progress-circle::before {
    content: "";
    width: 120px; /* Reduced to make the circle border more prominent */
    height: 120px;
    border-radius: 50%;
    background: #367298; /* Match the hero-card background */
}
body.dark {
    color: navajowhite;
}